html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#E3EFFF;
}

h4{
  color: #096BC6;
}

.lead {
  color:#DDCCEE;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background: url("../img/background.png");
  background-size: cover;
  /*background-color:#4CA8FF;*/
  color:#eee;
  overflow:hidden;
}

.container-full a {
  /*color:#efefef;*/
  text-decoration:none;
}


/* MENU */
.navbar{
  background-color: #096BC6;
}

.navbar a.navbar-brand{
  color: #ffffff;
  font-weight: bold;
}

.navbar ul.navbar-nav li a{
  color: #ffffff;
}

.v-center {
  margin-top:7%;
}
  
.navbar {
  margin: 40px 30px 0px 30px;
}

#avatar{
    display: inline-block;
    position: relative;
    width: 84px;
    height: 84px;
    border-radius:10px;
    /*box-shadow: -4px -4px 5px #CCC;*/
}

#avatarPicture{
    width: 84px;
    height: 84px;
    /*margin-top: -100px;*/
    border-radius: 10px;
}

#avatarOverlay{
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    padding: 2px;
    right:0;
}

#overlayButton{
    display: inline-block;
    color:white;
    background:rgb(50,50,50);
    border-radius:5px;
    border: white groove 1px;
    padding : 2px;
}

#overlayButton input#upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-body label, .form-group label{
  color: #000000;
}

#copyNotification {
    position:fixed;
    top:40px; /* Set to 0 or wherever */
    width:95%; /* set to 100% if space is available */
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:white;
    background-color:#FF7800;
    padding:5px;
    border-radius: 10px 10px 10px 10px;
}
#copyNotification span.dismiss {
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#copyNotification a {
    color: black;
    text-decoration:none;
    font-weight:bold
}

/* SignIn/Up form */
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}